<div class='row'>
  <div id='recipe_data' class='section col-lg-4'>
    <h3>Recipe</h3>
    <form action='/recipes/<%=@recipe.id%>/edit' method='post'>
      <input type='hidden' name='_method' value='patch'>
      Name:
      <br />
      <input type='text' name='name' id='name' value='<%= @recipe.name %>'>
      <br /><br />
      Rating:
      <br />
      <input type="number" name="rating" id='rating' min="0" max="5" value='<%=@recipe.rating%>'>
      <br /><br />
      Recipe Instructions:
      <br />
      <input type='hidden' name='_method' value='patch'>
      <textarea rows='12' cols='30' name='instruction' id='instruction'><%=@recipe.instruction %></textarea>
      <br /><br />
      <button type='sumbit'>Update</button>
    </form>
    <br />
    <a href='/recipes/<%= @recipe.id %>'>View Recipe Card</a>
  </div>

  <div id='recipe_categories>' class='section col-lg-4'>

    <h3>Categories<h3>
    <h6>Currently Assigned Categories:</h6>
    <ul>
    <% @recipe.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
    </ul>
    <h6>Available Categories</h6>
    <form action='/recipes/<%= @recipe.id %>/add_category' method='post'>
      <select name='category_id' id='category_id'>
        <% Category.all.each do |category| %>
          <option value='<%= category.id %>'><%= category.name %></option>
        <% end %>
      </select>
      <button type='submit'>Add To Recipe</button>
    </form>
    <h6>Add a New Category</h6>
    <form action="/recipes/<%= @recipe.id%>/categories/create" method="post">
      <input type="text" name="name" id="name">
      <button type="Submit" name='submit_type' value='new_category'>Add Category</button>
    </form>

  </div>

  <div id='recipe_ingredients' class='section col-lg-4'>
    <h3>Ingredients<h3>
    <h6>Currently Assigned Ingredients:</h6>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
        <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><%= ingredient.name %></li>
        <% end %>
      </ul>

      <form action='/recipes/<%= @recipe.id %>/add_ingredient' method='post'>
        <select name='ingredient_id' id="ingredient_id">
          <% Ingredient.all.each do |ingredient| %>
          <option value='<%= ingredient.id %>'><%= ingredient.name %></option>
          <% end %>
        </select>
        <button type='sumbit'>Add Ingredient</button>
      </form>
    <h6>Add a New Ingredient</h6>
    <form action="/recipes/<%= @recipe.id%>/ingredients/create" method="post">
      <input type="text" name="name" id="name">
      <button type="Submit" name='submit_type' value='new_ingredient'>Add Ingredient</button>
    </form>
  </div>
</div>
