<h2> Recipe Card for <%= @recipe.name %> </h2>

RATING
<% @recipe.rating.times do %>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<% end %>

<h3> Recipe Categories: </h3>

<ul>
  <% @recipe.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

<h3> Ingredients Required: </h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>

<h3> Instructions: </h3>

<%= @recipe.instruction %>

<br>

<a href='/recipes/<%= @recipe.id %>/edit'>Edit recipe card</a>
